/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: black;
}

/* Contenedor principal */
.container {
    display: flex;
    align-items: center;
    max-width: 1000px;
    margin: 50px auto;
    gap: 40px;
}

.image img {
    width: 100%;
    max-width: 500px;
    border-radius: 5px;
}
.expobazar {
    width: 20%; 
    height: auto;
}   

/* Texto */
.text {
    max-width: 400px;
}

.text h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.text p {
    font-size: 16px;
    line-height: 1.6;
    margin: 5px 0;
}

/* Sección de imágenes en línea */
.image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
}

.image-section img {
    width: 80%;
    max-width: 800px;
    border-radius: 5px;
}
